@import url("https://fonts.googleapis.com/css?family=Karla:400,700");
* {
  position: relative;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Karla", sans-serif;
  background-color: #eee;
}

.schedule {
  padding-top: 16vh;
  padding-bottom: 16vh;
}

h2 {
  color: #2d4059;
}

.container {
  max-width: 480px;
  margin: 0 auto;
}

.schedule-group {
  width: 480px;
}

.schedule__timeline {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, 0%);
  width: 4px;
  height: 100%;
  background-color: #2d4059;
  border-radius: 8px;
}

.schedule-card {
  width: calc(100% - 24px);
  background-color: #fff;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(14, 30, 37, 0.12);
  margin-left: 24px;
  margin-bottom: 24px;
  transition: all 0.3s;
}

.schedule-card:hover {
  transform: scale(1.2);
}

.schedule-card:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #484848;
}

.schedule-card:before {
  background-color: #2d4059;
}

.schedule-card__text {
  color: #2d4059;
}
.schedule-card__text .time {
  margin: 0;
}
.schedule-card__text .description {
  margin: 0;
  margin-top: 8px;
  font-size: 16px;
  line-height: 1.5;
}
