@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #005480;
  padding: 0px;
  color: #333536a3;
}
.eden-home-page {
  overflow-x: hidden;
}
.card {
  border-radius: 0rem;
}
.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.contact a {
  color: white;
  text-decoration: none;
  font-family: Lato, sans-serif;
}
.mail,
.phone {
  margin-left: 2rem;
}
.nav-link {
  font-family: "Quicksand", sans-serif;
  font-size: 1.3vw;
}

.navbar-nav .nav-link {
  color: #1e4278;
}
.bg-navbar {
  background-color: #d3dae2;
}
#navbar.scroll {
  background-color: rgb(255 255 255 / 86%);
  -webkit-filter: blur(0.6px);
}
.navbar .navbar-nav .nav-item {
  position: relative;
}
.navbar .navbar-nav .nav-item::after {
  position: absolute;
  content: "";
  background-color: #1b3966;
  width: 0%;
  height: 4px;
  margin: 0 auto;
  bottom: 0;
  right: 0;
  left: 0;
  transition: all 0.8s;
}
.navbar .navbar-nav .nav-item:hover::after {
  width: 100%;
}
.navbar {
  padding: 0;
}
.navbar .navbar-nav .nav-link {
  padding: 2rem;
}
.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown-menu {
  background-color: hsl(0deg 0% 100% / 79%);
  color: #1b3966;
}
.dropdown-menu :hover {
  background-color: hsla(216, 58%, 25%, 0.397);
}
.navbar-nav .li {
  margin-left: 2vw;
}
.navbar-collapse ul {
  margin-right: 1vw;
}

.img {
  height: 8rem;
  width: 10rem;
}
.header-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: #1b3966 !important;
}
.fixed-top {
  position: fixed;
  top: 3.6rem;
  right: 0;
  left: 0;
  z-index: 1030;
}
.content {
  margin-top: 9.8rem;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* remove the gap so it doesn't close */
}
.about_us {
  position: relative;
  height: max-content;
}

.about {
  position: absolute;
  top: 3.8rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.about-text {
  font-family: open-sans, sans-serif;
  font-weight: 900;
  font-size: 3vw;
  line-height: 1em;

  color: #fff;
  text-transform: uppercase;
  margin-top: 3vw;
}
.apropos {
  border-radius: 8px;
  height: fit-content;
  width: fit-content;
}
.nom_entreprise {
  color: #1b3966;
  font-weight: 900;
}
.apropos_text {
  font-family: "Vollkorn", Georgia, "Times New Roman", serif;
  font-size: 1.8rem;
  color: #d4d4d5;
}
.apropos_desc {
  text-align: justify;
  font-family: "Tajawal", sans-serif;
}
.contact_area {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.5rem;
  align-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 1rem;
}
@media screen and (max-width: 767px) {
  .card_eng {
    margin: 1rem 10rem;
  }
  .presentation_logo_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
  }
}

@media screen and (max-width: 992px) {
  .apropos {
    margin-top: 0.7rem;
  }
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin: -1.5vw;
  }
  .nom_entreprise,
  .presentation_title,
  .qualite-text {
    font-size: 1rem;
  }
  .aprops_desc {
    font-size: 0.9rem;
  }

  .contact_btn,
  .lead {
    font-size: 0.8rem;
  }
  .apropos_text {
    font-size: 1rem;
  }

  .contact_area {
    margin-top: 0.2rem;
  }

  .contact a {
    font-size: 0.9rem;
    margin-bottom: 1vw;
  }
  .mail,
  .phone {
    margin-left: 0.8rem;
  }
  .nav-link {
    font-family: "Quicksand", sans-serif;
    font-size: 2.6vw;
  }
}
.img-fluid {
  max-width: fit-content;
  height: auto;
}
.contact_btn {
  width: fit-content;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 15rem;
}
.eng_cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
}
.card_eng {
  margin: 3rem 4rem;
  display: flex;
  width: 25rem;
  background-color: #ffffff4f;
  border-radius: 10px;
}

.eng_img {
  width: 10rem;
}
.card-title {
  text-align: center;
  color: #1b3966;
}

.nos_services {
  background-color: #d3dae2;
}
.image_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.eng-text {
  padding: 1rem 1.3rem;
}
.engagement_cards {
  align-content: space-between;
  justify-content: space-evenly;
  align-items: stretch;
}
.title-divider {
  border-top: 3px solid #bbb;
  background-image: linear-gradient(
    to right,
    rgb(0, 0, 0),
    rgb(0, 0, 0),
    rgb(255, 254, 254)
  );
}
.tracking-in-contract-bck {
  -webkit-animation: tracking-in-contract-bck 1s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
}

@-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
#map {
  height: 400px;
  width: 100%;
}
.eden {
  font-size: inherit;
  line-height: inherit;
  font-weight: 600;
  color: #1b3966;
}
.img_popup {
  height: 5rem;
  width: 7rem;
  margin-left: 30%;
}
.map-card {
  width: 90%;
  margin: auto;
  border-radius: 15px;
  border: 2px #d3dae2;
}
.presentation_eden {
  width: 100%;
  height: fit-content;
  background-color: #d3dae2;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: stretch;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2rem;
}
.presentation_title {
  color: #1b3966;
  font-family: open-sans, sans-serif;
  font-weight: 900;
}
.presentation_logo {
  width: 25vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.jumbotron-fluid {
  border-radius: 25px;
  padding: 2rem;
}
.eng_title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.qualite-text {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  line-height: 1em;
  letter-spacing: 0.1em;
  color: #1e4278;
  text-transform: uppercase;
  margin-top: 3vw;
}
.avantages-text {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  line-height: 1em;
  letter-spacing: 0.1em;
  color: #f4f5f6;
  text-transform: uppercase;
  margin-top: 3vw;
}

/* COSTUMIZE SCROLLBAR - Malek abbes */
body::-webkit-scrollbar {
  width: 0.7em;
  background-color: #1e4278;
}

body::-webkit-scrollbar-thumb {
  background-color: #1e4278;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  background-color: #fff;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #1e4278;
}
.map_icon {
  display: flex;
  width: 9rem;
  margin: 2rem auto;
}
.map-text {
  color: whitesmoke;
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  font-size: 3vw;
  line-height: 1em;
  letter-spacing: 0.1em;
}
.divider {
  width: 100%;
  height: 100px;
  left: 0px;
  background: linear-gradient(to left bottom, #d3dae2 49%, #005480 50%);
}

ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
  background: #1b3966;
  position: relative;
  width: 100%;
  bottom: 0px;
  left: 0;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: white;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg {
  background: #3b5998;
}
.twitter-bg {
  background: #55acee;
}
.google-bg {
  background: #dd4b39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #1e4278;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover {
  color: #567eb9;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2e2e2e;
  border: 1px solid #2e2e2e;
  color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #1e4278;
  padding: 13px 20px;
  border: 1px solid #1e4278;
  top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area {
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a {
  color: #1e4278;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a {
  color: #1e4278;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
